<p>upwmva11 works!</p>
<main>
    <h3>Server Details</h3>
        <section class="row-wise-2col-dispaly">
        
            <div class="grid-item-2col-content firstCol">
                Environment
            </div>
            <div class="grid-item-2col-content" id="hostNameId">
                upwmva11
            </div>
            <div class="grid-item-2col-content firstCol">
                servers
            </div>
            <div class="grid-item-2col-content">
                servers
            </div>
            <div class="grid-item-2col-content firstCol">
                webserver
            </div>
            <div class="grid-item-2col-content">
            webserver
            </div>
            <div class="grid-item-2col-content firstCol">
                IpAddress
            </div>
            <div class="grid-item-2col-content ">
                Ip address
            </div>
            <div class="grid-item-2col-content firstCol">
                Application
            </div>
            <div class="grid-item-2col-content">
                Application
            </div>
            <div class="grid-item-2col-content firstCol">
                Network
            </div>
            <div class="grid-item-2col-content">
                Network
            </div>
            <div class="grid-item-2col-content firstCol">
                OS Version
            </div>
            <div class="grid-item-2col-content">
                OS Version
            </div>
            <div class="grid-item-2col-content firstCol">
                Model
            </div>
            <div class="grid-item-2col-content">
                Model
            </div>
            <div class="grid-item-2col-content firstCol">
                Hardware Complex
            </div>
            <div class="grid-item-2col-content">
                Hardware Complex
            </div>
            <div class="grid-item-2col-content firstCol">
                Home Frame
            </div>
            <div class="grid-item-2col-content">
                Home Frame
            </div>
            <div class="grid-item-2col-content firstCol">
                Console
            </div>
            <div class="grid-item-2col-content">
                Console
            </div>
            <div class="grid-item-2col-content firstCol">
                Serial Number
            </div>
            <div class="grid-item-2col-content">
                Serial Number
            </div>
            <div class="grid-item-2col-conten firstCol">
                Enclosure
            </div>
            <div class="grid-item-2col-content">
                Enclosure
            </div>
            <div class="grid-item-2col-content firstCol">
                CPU Details
            </div>
            <div class="grid-item-2col-content">
                CPU Details
            </div>
            <div class="grid-item-2col-content firstCol">
                Memory(RAM)
            </div>
            <div class="grid-item-2col-content">
                Memory(RAM)
            </div>
            

            
        </section>
</main>

<p>upwmva11 works!</p>
