
<main>
    <h3>Server Details</h3>
        <section class="row-wise-2col-dispaly">
    
            <div class="grid-item-2col-content firstCol">
                Environment
            </div>
            <div class="grid-item-2col-content" id="hostNameId">
                Wxr-PREIMP
            </div>
            <div class="grid-item-2col-content firstCol">
                webservers
            </div>
            <div class="grid-item-2col-content">
                wpwmxrpimp01vm
            </div>
            <div class="grid-item-2col-content firstCol">
                IP Address
            </div>
            <div class="grid-item-2col-content">
                172.25.29.176
            </div>
            <div class="grid-item-2col-content firstCol">
                Application Server (AIX)
            </div>
            <div class="grid-item-2col-content ">
                utwmam02
               172.22.160.183
            </div>
            <div class="grid-item-2col-content firstCol">
                APP Active Node
            </div>
            <div class="grid-item-2col-content">
                APP Active Node
            </div>
            <div class="grid-item-2col-content firstCol">
                UNIX Quorum Server (Mulgrave)
            </div>
            <div class="grid-item-2col-content">
                UNIX Quorum Server (Mulgrave)
            </div>
            <div class="grid-item-2col-content firstCol">
                DB Server (AIX)
            </div>
            <div class="grid-item-2col-content">
                udwmam02
                172.22.160.7
            </div>
            <div class="grid-item-2col-content firstCol">
                DB Active Node
            </div>
            <div class="grid-item-2col-content">
                DB Active Node
            </div>
            <div class="grid-item-2col-content firstCol">
                EIS - Voice / WCS
            </div>
            <div class="grid-item-2col-content">
                utwmam02
                172.22.160.183
            </div>
            <div class="grid-item-2col-content firstCol">
                LM Web Server - as App
            </div>
            <div class="grid-item-2col-content">
                LM Web Server - as App
            </div>
            <div class="grid-item-2col-content firstCol">
                LM App/Db server - as wms
            </div>
            <div class="grid-item-2col-content">
                LM App/Db server - as wms
            </div>
            <div class="grid-item-2col-content firstCol">
                Voice Console 5.0 (Active-Active)
            </div>
            <div class="grid-item-2col-content">
                Voice Console 5.0 (Active-Active)
                
            </div>
            <div class="grid-item-2col-conten firstCol">
                Voice Console 5.0 DB Server
            </div>
            <div class="grid-item-2col-content">
                Voice Console 5.0 DB Server
                
            </div>
            <div class="grid-item-2col-content firstCol">
                Slotting App Server
            </div>
            <div class="grid-item-2col-content">
                wdctx268
            </div>
            <div class="grid-item-2col-content firstCol">
                Slotting Batch server (OLD)
            </div>
            <div class="grid-item-2col-content">
                Slotting Batch server (OLD)
            </div>
        
        <div class="grid-item-2col-content firstCol">
            Slotting Batch server (NEW)
        </div>
        <div class="grid-item-2col-content">
            wtwmsmso08
        </div>
    
    <div class="grid-item-2col-content firstCol">
        Slotting DB Server
    </div>
    <div class="grid-item-2col-content">
        WTSQLRS12
    </div>

<div class="grid-item-2col-content firstCol">
    Oracle Reports Application Server
</div>
<div class="grid-item-2col-content">
    lfoasmt02

</div>
<div class="grid-item-2col-content firstCol">
    Output Manager
</div>
<div class="grid-item-2col-content">
    udom01
</div>
</section>
</main>




