<main>
    <h3>Server Details</h3>
        <section class="row-wise-2col-dispaly">
        
            <div class="grid-item-2col-content firstCol">
                Environment
            </div>
            <div class="grid-item-2col-content" id="hostNameId">
                Edinburgh Parks
                (521)
            </div>
            <div class="grid-item-2col-content firstCol">
                webservers
            </div>
            <div class="grid-item-2col-content">
                servers
            </div>
            <div class="grid-item-2col-content firstCol">
                webserver
            </div>
            <div class="grid-item-2col-content">
            webserver
            </div>
            <div class="grid-item-2col-content firstCol">
                IpAddress
            </div>
            <div class="grid-item-2col-content ">
                Ip address
            </div>
            <div class="grid-item-2col-content firstCol">
                ApplicationServer
            </div>
            <div class="grid-item-2col-content">
                ApplicationServer
            </div>
            <div class="grid-item-2col-content firstCol">
                App Active Node
            </div>
            <div class="grid-item-2col-content">
                App Active Node
            </div>
            <div class="grid-item-2col-content firstCol">
                DB Server
            </div>
            <div class="grid-item-2col-content">
                DB Server
            </div>
            <div class="grid-item-2col-content firstCol">
                EIS - Voice
            </div>
            <div class="grid-item-2col-content">
                EIS - Voice
            </div>
            <div class="grid-item-2col-content firstCol">
                LM Web Server
            </div>
            <div class="grid-item-2col-content">
                LM Web Server
            </div>
            <div class="grid-item-2col-content firstCol">
                Heartbeat Homes
            </div>
            <div class="grid-item-2col-content">
                Heartbeat Homes
            </div>
            <div class="grid-item-2col-content firstCol">
                Voice Console 5.0
            </div>
            <div class="grid-item-2col-content">
                Voice Console 5.0
            </div>

            

            
        </section>
</main>
