<div class="container">
  <!-- #Left Side  Navigation  region -->
      <div class="header-column">
              <img src="./assets/images/unixsystem.jpg"  class="header-img">
      </div>
      <div class="side-menu-column">
        <app-side-menu></app-side-menu>
      </div>
      <div class="main-content-column">    
      <!-- # Right Side Content region -->
                <router-outlet></router-outlet>
      </div>
      
      <div class="footer-column">
              <p><i class="far fa-copyright"></i>2020 Unix System Databases</p>
      </div>

</div>
