<main>
    <section>
    <h3>WMS ENVIRONMENT MATRIX</h3>
    <div class="row-wise-dispaly ">
        <h2 class="grid-item-heading">Description</h2>
        <div class="grid-item-heading-container">
            <p></p>
            <p class="box1">
                This web page provides a view into the WMS currently it is mostly aimedat giving operators acess to the databases so that they are able to see the production status of server.
            </p>
        </div>
        <h2 class="grid-item-heading">Instructions</h2>
        <div class="grid-item-heading-container">
            <p></p>
            <p class="box1">
                Use the links on the left for various breakdowns of the server Details.
            </p>
            <p class="box1">
                When using the Search for Server option use '%' as a wildcard to match unknown characters. For example, 'u%mq%' will return all hostnames starting with 'u' and containing 'mq'.
            </p>
        </div>
        <h2 class="grid-item-heading">Meaning of Fileds</h2>
        <h4 class="grid-item-heading">Hostname</h4>
        <div class="grid-item-heading-container">
            <p></p>
            <p class="box1">
                Generally the hostname of the system , but sometimes it is the first field of the fully qualified domain name instead. 
            </p>
        </div>
        <h4 class="grid-item-heading">OS</h4>
        <div class="grid-item-heading-container">
                <p></p>
                <p class="box1">
                   The Operating system installed on the server.
                </p>
            </div>
    </div>
    </section>
</main>